* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right top, #100110, #5c061a);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 60%;
  background:
    linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    );
  border-radius: 20px;
}

.list-container {
  background: #fff;
  opacity: 0.6;
  margin: 10%;
}

.list-container h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.input-field {
  width: 95%;
  padding: 8px;
  margin: 5% 2%;
  border: none;
  border-bottom: solid #5c061a 2px;
  border-right: solid #5c061a 2px;
}

input[type="text"] {
  font-size: 16px;
  color: #000;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 1% 2%;
  border-bottom: 1px solid #000;
}

button {
  width: 95%;
  margin: 2%;
  padding: 8px;
  font-size: 16px;
  border: solid #5c061a 1px;
}

.delete-btn {
  display: none;
}

.checkContainer {
  background: #fa8743;
}

.checkTask {
  text-decoration: line-through;
}

.active {
  display: block;
}

.disable {
  display: none;
}
