body {
  background-image: url("../assets/background1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  box-sizing: border-box;
}

.list-container {
  background-color: #000;
  opacity: 0.7;
  margin: 20% 5%;
}

.list-container h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.input-field {
  width: 90%;
  padding: 8px;
  margin-left: 2%;
}

input[type="text"] {
  font-size: 14px;
  color: #000;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  padding: 8px;
  margin: 0 5%;
  border: 1px solid #000;
}

li span {
  align-self: flex-start;
}

button {
  width: 90%;
  margin-left: 2%;
  padding: 8px;
  margin-bottom: 2%;
}

.delete-btn {
  display: none;
}

.checkContainer {
  background-color: rgb(62, 19, 19);
}

.checkTask {
  text-decoration: line-through;
}

.active {
  display: block;
}

.disable {
  display: none;
}
